<nav class="ghost-pagination" role="navigation">
    <ul class="pager">
    {{#if prev}}
            <li class="previous">
                <a class="newer-posts" href="{{page_url prev}}">Newer</a>
            </li>
    {{/if}}
    {{#if next}}
            <li class="next">
                <a class="older-posts" href="{{page_url next}}">Older</a>
            </li>
    {{/if}}
    </ul>
</nav>