<div class="list-group">
    <a class="list-group-item" href="/about">
        <i class="fa fa-user fa-fw"></i>&nbsp; About
    </a>
    <a class="list-group-item" href="/projects">
        <i class="fa fa-flask fa-fw"></i>&nbsp; Projects
    </a>
</div>
