a:hover {
    text-decoration: none;
}

hr.post-index {
    margin: 0;
}

.index-date {
    text-align: center;
    margin: 1.8em 0;
}

.blog-meta a {
    color: #BBC7CC;
    font-size: 1.5em;
    display: inline-block;
    margin: 0.3em 0.5em;
}
.blog-meta a:hover {
    text-decoration: none;
}

code, tt {
    color: #fff;
    border-color: #333;
    background-color: #333;
    font-family: Inconsolata, monospace, sans-serif;
    font-weight: bold;
    
    border-radius: 0.3rem;
    padding: 2px 4px;
    top: -1px;
    position: relative;
}

pre {
    color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 0px solid #333;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #333;
    border-radius: 1rem;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre;
    white-space: pre;
    word-wrap: normal;
    background: transparent;
    border: none;
    padding: 0;
}

.post-footer .author {
    margin: 0 0 8rem 0;
}

.post-footer .author-image {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
}

.post-footer .author-info {
    display: block;
    margin: 0 0 0 140px;
}

.post-footer .share {
    line-height: 0.5em;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 0 1.5rem 0 0;
    color: #666;
    text-decoration: none;
}

.post-footer .share a:hover {
    color: #50585D;
}
